body {
    margin-top: 10px;
    margin-bottom: 40px;
    background: #f0f0f0;
}

/* Used to hide content while angular is loading */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

/* Main page header */
.header {
    margin-bottom: 40px;
    color: #5a5a5a;
}

/* Dynamic content styling */
.content {
    padding: 20px 40px 30px 40px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    background: #fcfcfc;
}


/* Language badge used on the main page */
.language-badge {
    float: left;
    width: 100px;
    height: 140px;
    margin-left: 30px;
    margin-top: 30px;
}

.language-badge-icon {
    height: 80px;
    padding: 10px;
}

.language-badge-text {
    margin-top: 10px;
    text-align: center;
}

/* Language badge used on author page */
.language-badge-horizontal {
    margin-top: 20px;
}

.language-badge-horizontal-icon {
    float: left;
    width: 20px;
    height: 20px;
}

.language-badge-horizontal-text {
    margin-left: 30px;
}

.language-badge-horizontal-date {
    margin-top: 4px;
}

/* Language icon sizes */
.language-icon-large {
    font-size: 80px;
    color: #5c5c5c;
}

.language-icon-medium {
    font-size: 40px;
    color: #5c5c5c;
}

.language-icon-small {
    font-size: 20px;
    color: #5c5c5c;
}

/* Snippet header used on compose and snippet pages */
.snippet-header {
    height: 40px;
    margin-bottom: 30px;
}

.snippet-header-title {
    float: left;
}

.snippet-header-language {
    float: right;
}

.snippet-header-language-icon {
    height: 40px;
    width: 40px;
}

/* Utility classes */
.margin-top-20 {
    margin-top: 20px;
}

/* Codemirror stuff */
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    margin-bottom: 20px;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}


/* Result badges */
.result-badge {
    position: relative;
    padding: 39px 19px 14px;
}

.result-badge:after {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
       -moz-border-radius: 4px 0 4px 0;
            border-radius: 4px 0 4px 0;
}

.result-badge-stdout {}

.result-badge-stdout:after {
    content: "Stdout";
}

.result-badge-stderr {}

.result-badge-stderr:after {
    content: "Stderr";
}

.result-badge-error {}

.result-badge-error:after {
    content: "Error";
}
