<div class="span6 offset3">
  <h2>Reset password</h2>
  <form name="passwordForm" verifypassword="password verify">
    <fieldset>
      <div class="control-group">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-asterisk"></i></span>
            <input type="password" name="password" placeholder="Password" ng-model="password">
          </div>
        </div>
      </div>
      <div class="control-group" ng-class="{error: passwordForm.verify.$error.password}">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-asterisk"></i></span>
            <input type="password" name="verify" placeholder="Verify password" ng-model="verify" ng-required="true">
          </div>
        </div>
      </div>
      <p><a href="{{url.profile()}}">Profile</a></p>
      <button class="btn btn-primary" ng-disabled="passwordForm.$invalid" ng-click="resetPassword(password, user)">Reset</button>
    </fieldset>
  </form>
  <div ng-show="alert">
    <alert type="alert.type" close="alert = null">{{alert.msg}}</alert>
  </div>
</div>
